# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
*.Rout
Rplots.pdf
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
*.Rproj
.Rproj.user/
# R Environment Variables
.Renviron

.DS_Store

# about manuscript
*.aux
*.dbj
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.ilg
*.log
*.toc
*.xml
*.zip
*.out
*.swp
*-eps-converted-to.pdf
*.synctex.gz
*.fff
*.ttt
*.fdb_latexmk
*.fls
*.pax
*.mw

tmp
generated
serverPID*.txt
Rdebug.txt
R.config
talk2stat.log
nohup.out
train.csv
